DATABASE_URL="postgresql://postgres:postgres@172.20.0.2:5432/finance-app?schema=public"

AUTH_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"

RECAPTCHA_PRIVATE_KEY=""
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_ENDPOINT=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

SMTP_EMAIL_HOST=""
SMTP_EMAIL_PORT=""
SMTP_SECURE=false
SMTP_EMAIL_USER=""
SMTP_EMAIL_PASS=""